.formBtnContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.formMsg {
    font-size: 0.75em;
}

.formTitle {
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
}