.modalBackdrop{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #cccccc6e;
    display: grid;
    place-items: center;

    .modal{
        padding: 1rem;
    }
}