.UnauthorizedPage {
  min-height: 100vh;
  padding: 1rem;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1UCudFt5plpp2KuwIrCEAMlS7rViLun0IrWKYIBte_Q&s=10);
  background-position: center;
  background-repeat: no-repeat;  
}